body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

label {
  font-size: 16px;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  text-align: left;
  margin-top: 30px;
}

table, table td, table th {
  border: 1px solid black;
  padding: 8px;
}

#submit {
  background-color: #97d1cb;
  color: white;
  padding: 15px 30px;
  width: 270px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 20px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

#submit:hover {
  background-color: #81bdb7;
}